*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}
input,button,a,textarea{
	cursor:pointer;
	outline:none;
    font-family: "Roboto"!important;
}
input{
    transition: all 0.5s ease;
}
html,body{
	font-family: "Roboto"!important;
    background-color: #fff;
}
a{
	text-decoration: none;
}
/* Fluid grid*/
.container{
	width: 1230px;
	margin: 0 auto;
    .cols{
	    float: left;
        &.col-1{width:8.333333333%;}
        &.col-2{width:16.66666666%;}
        &.col-3{width:25%;}
        &.col-4{width:33.333333333%;}
        &.col-5{width:41.666666666%;}
        &.col-6{width:50%;}
        &.col-7{width:58.333333333%;}
        &.col-8{width:66.66666666%;}
        &.col-9{width:75%;}
        &.col-10{width:83.333333333%;}
        &.col-11{width:91.66666666%;}
        &.col-12{width:100%;}
    }
}
.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after{
	content: " ";
	display: table;
}
.container:after,
.row:after,
.clear:after{
	clear:both;
}
/*header*/
.topLine{
    width: 100%;
    height: 33px;
    .alignLeft{
        float: left;
        line-height: 2;
        text-align: left;
        font-size: 12px;
        font-weight: 300;
        color: #990000;
        width: 40%;
        text-transform: uppercase;
    }
    .alignRight{
        line-height: 2;
        text-transform: uppercase;
        width: 60%;
        float: right;
        text-align: right;
        font-size: 12px;
        font-weight: 300;
        a{
            padding-right: 10px;
            color: #666;
        }
        span{
            color: #000;
        }
    }
}
.logo{
    text-align: center;
}
.nav{
    ul{
        padding-top: 37px;
        padding-bottom: 18px;
        li{
            display: inline;
            padding: 0 15px 0 0;
            transition: all 0.3s ease;
            background: url('../img/lihover.png') left bottom no-repeat;
            background-size: 0% 20%;
            a{
                text-transform: uppercase;
                color: #525252;
                font-size: 16px;
                text-align: center;
            }
            &:hover{
                background-size: 90% 7%;
            }
            &:last-child{
                background: linear-gradient(to right, #ccc 0%, #ccc 33%,#fff 50%) right center no-repeat;
                background-size: 200% 100%;
                float:right;
                padding-right: 0;
                &:hover{
                    background-position: left center;
                    input{
                        color: #252525;
                    }
                }
                input{
                    width: 201px;
                    height: 22px;
                    border: 1px solid #ccc;
                    text-transform: uppercase;
                    color: #666;
                    padding-left: 5px;
                    background:url('../img/search.png') right center no-repeat,transparent;
                }
            }
        }
    }
}
.menu{
    display: none;
}
/*content*/
.hero{
    width: 100%;
    img{
        width: 100%;
    }
}
.stRow{
    padding-top: 20px;
    padding-bottom: 30px;
    &>div{
        padding: 0 1%;
        img{
            width: 100%;
        }
    }
}
.eventRow{
    padding-bottom: 50px;
    &>div{
        padding: 0 1%;
        height: 364px;
        &.img{
            overflow: hidden;
            img{
                height: 100%;
            }
        }
        &.description{
            height: 364px;            
            .relbl{
                position: relative;
                height: 85%;
            }
            .header{
                font-weight: 300;
                font-size: 33px;
                text-transform: capitalize;
                color: #060600;
                line-height: 1.2;
            }
            .time{
                color: #333;
                font-weight: 300;
                font-size: 15px;
                line-height: 1.2;
            }
            .text{
                position: absolute;
                bottom: 40px;
                left:0;
                color: #060701;
                font-size: 16px;
                font-weight: 300;
            }
            .bottomEventText{
                position: absolute;
                bottom: 0;
                left:0;
                color: #060701;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
/*footer*/
.footerTopLines{
    ul{
        padding-bottom: 30px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        li{
            width: 20%;
            float: left;
            list-style: none;
            padding: 0;
            text-align: center;
            a{
                text-transform: capitalize;
                color: #525252;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}
.footerCont{
    &>div{
        padding: 20px 0;
        .header{
            font-weight: 400;
            font-size: 14px;
            color: #000;
            text-transform: uppercase;
        }
        .content{
            color: #333;
            font-weight: 300;
            font-size: 12px;
            padding-top: 15px;
            .join{
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 400;
                padding-top: 5px;
                padding-bottom: 3px;
            }
            .email{
                padding-bottom: 7px;
                input{
                    border: 1px solid #333;
                    color: #333;
                    padding-left: 10px;
                    width: 80%;
                    float: left;
                    height: 22px;
                    &.subInput{
                        width: 20%;
                        color: #fff;
                        text-align: center;
                        padding-left: 0;
                        border: none;
                        float: none;
                        background-color: #333;
                    }
                }
            }
            .soc{
                img{
                    margin-right: 10px;
                }
            }
            &>a{
                display: block;
                color: #333;
                font-weight: 300;
                font-size: 12px;
                line-height: 1.4;
            }
            p{
                &:nth-child(n+2){
                    padding-top: 15px;
                }
                &.mail{
                    font-weight: 400;
                    span{
                        color: #ff9900;
                    }
                }
            }
        }
    }
}
.bottomLine{
    width: 100%;
    height: 33px;
    padding-bottom: 100px;
    .alignLeft{
        float: left;
        line-height: 2;
        text-align: left;
        font-size: 12px;
        font-weight: 300;
        color: #333333;
        width: 50%;
        span{
            font-weight: 400;
        }
    }
    .alignRight{
        line-height: 2;
        width: 50%;
        float: right;
        ul{
            li{
                display: inline;
                padding: 0 5px 0 0;
                float: right;
                a{
                    color: #333;
                    font-size: 12px;
                }
            }
        }
    }
}

/*mediaStyles*/
@media screen and (max-width:1245px) {
    .container{
        width: 100%;
    }
}
@media screen and (max-width:920px) {
    .topLine{
        height: 30px;
        .alignLeft{
            font-size: 10px;
        }
        .alignRight{
            font-size: 10px;
        }
    }
    .nav{
        ul{
            li{
                padding: 0 5px 0 0;
                a{
                    font-size: 12px;
                }
                &:last-child{
                    input{
                        width: 150px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .eventRow{
        padding-bottom: 50px;
        &>div{
            height: 250px;
            &.description{
                height: 250px;            
                .relbl{
                    position: relative;
                    height: 85%;
                }
                .header{
                    font-size: 25px;
                }
                .time{
                    font-size: 13px;
                }
                .text{
                    bottom: 40px;
                    font-size: 14px;
                }
                .bottomEventText{
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width:830px) {
    .container .cols.col-3{width:33%;}
    .container .cols.col-6{width:100%;}
    .eventRow{
        padding-bottom: 50px;
        &>div{
            height: auto;
            &.img{
                display: none;
            }
            &.description{
                height: auto;            
                .relbl{
                    position: static;
                    height: auto;
                }
                .time{
                    padding-bottom: 20px;
                }
                .text{
                    position: static;
                }
                .bottomEventText{
                    padding-top: 10px;
                    position: static;
                }
            }
        }
    }
    .footerTopLines{
        ul{
            width: 100%;
            li{
                a{
                    font-size: 13px;
                }
            }
        }
    }
    .footerCont{
        &>div{
           &:nth-child(3){
               display: none;
           }
        }
    }
    .bottomLine{
        .alignLeft{
            float: none;
            width: 100%;
        }
        .alignRight{
            display: none;
        }
    }   
}
@media screen and (max-width:650px) {
    .nav{
        ul{
            li{
                display: none;
                &:last-child{
                    display: block;
                    padding-bottom: 0px;
                    margin-bottom: 10px;
                }
            }
        }
        position: relative;
        .menu{
            display: block;
            transition: all 0.5s ease;
            position: absolute;
            width: 30px;
            height: 30px;
            bottom: 0;
            left:0;
            background: linear-gradient(to bottom,
                         #fff 0%,
                         #fff 20%,
                         #262626 20%,
                         #262626 30%,
                         #fff 30%,
                         #fff 50%,
                         #262626 50%,
                         #262626 60%,
                         #fff 60%,
                         #fff 80%,
                         #262626 80%,
                         #262626 90%,
                         #fff 90%,
                         #fff 100%);
            ul{
                padding-top: 0;
                position: absolute;
                display: none;
                left: 0;
                top:30px;
                width: 150px;
                background-color: #fff;
                li{
                    padding: 0 10px;
                    display: block;
                    width: 100%;
                }
            }
            &:hover{
                width: 100px;
                
                ul{
                    display: block;
                }
            }
        }
    }
    .container .cols.col-3{width:50%;}
    .footerTopLines{
        display: none;
    }
    .footerCont{
        &>div{
           &:nth-child(2){
               display: none;
           }
        }
    }
    .logo{
        img{
            width: 40%;
        }
    }
}
@media screen and (max-width:500px) {
    .hero{
        width: 100%;
        overflow: hidden;
        img{
            width: 150%;
        }
    }
    .container .cols.col-4{
        width: 80%;
        margin:0 0 0 20%;
        &:nth-child(2n){
            margin:0 20% 0 0;
        }
    }
}
@media screen and (max-width:400px) {
    .logo{
        img{
            width: 60%;
        }
    }
    .container .cols.col-3{width:100%;}
    .eventRow{
        padding-bottom: 10px;
        &>div{
            &.description{
                .header{
                    font-size: 18px;
                }
                .text{
                    font-size: 11px;
                }
                .bottomEventText{
                    font-size: 11px;                    
                }
            }
        }
    }
    .bottomLine{
        .alignLeft{
            font-size: 10px;
        }
    }
}
@media screen and (max-width:320px) {
    .container{
        min-width: 320px;
    }
}